-# iPhone(first generation or 2G), iPhone 3G, iPhone 3GS
%link{ :rel => "apple-touch-icon", :sizes => "57x57", :href => "#{image_path('apple-touch-icon-57x57px.png')}" }
-# iPad and iPad mini @1x
%link{ :rel => "apple-touch-icon", :sizes => "76x76", :href => "#{image_path('apple-touch-icon-76x76px.png')}" }
-# Retina: iPhone 4, iPhone 4s, iPhone 5, iPhone 5c, iPhone 5s, iPhone 6, iPhone 6s, iPhone 7, iPhone 7s, iPhone8
%link{ :rel => "apple-touch-icon", :sizes => "120x120", :href => "#{image_path('apple-touch-icon-120x120px.png')}" }
-# Retina: iPad and iPad mini @2x
%link{ :rel => "apple-touch-icon", :sizes => "152x152", :href => "#{image_path('apple-touch-icon-152x152px.png')}" }
-# iPad Pro
%link{ :rel => "apple-touch-icon", :sizes => "167x167", :href => "#{image_path('apple-touch-icon-167x167px.png')}" }
-# iPhone X, iPhone 8 Plus, iPhone 7 Plus, iPhone 6s Plus, iPhone 6 Plus
%link{ :rel => "apple-touch-icon", :sizes => "180x180", :href => "#{image_path('apple-touch-icon-180x180px.png')}" }
-# Android Devices High Resolution
%link{ :rel => "icon", :sizes => "192x192", :href => "#{image_path('icon-hd-192x192px.png')}" }
-# Android Devices Normal Resolution
%link{ :rel => "icon", :sizes => "128x128", :href => "#{image_path('icon-128x128px.png')}" }
