.rd-navbar-menu-wrap
  .rd-navbar-nav-wrap
    .rd-navbar-mobile-scroll
      .rd-navbar-mobile-brand
        = link_to 'index.html' do
          = image_tag 'logo-dark.png', width:'203', height:'70', class:'img-responsive', alt:''
      %ul.rd-navbar-nav
        %li{class: ("active" if page == "index")}
          = link_to 'index.html' do
            %span
              Home
        %li{class: ("active" if page == "behavior_therapy")}
          = link_to 'behavior_therapy.html' do
            %span
              Verhaltenstherapie
        %li{class: ("active" if page == "services")}
          = link_to '#' do
            %span
              Angebote
          %ul.rd-navbar-dropdown
            %li
              = link_to 'services_consulting.html' do
                %span.text-middle
                  Beratung, Psychotherapie
            %li
              = link_to 'services_seminars.html' do
                %span.text-middle
                  Seminare, Vorträge, Workshops

        %li{class: ("active" if page == "costs")}
          = link_to 'costs.html' do
            %span
              Kosten
        %li{class: ("active" if page == "about_me")}
          = link_to 'about_me.html' do
            %span
              Über mich
        %li{class: ("active" if page == "contact")}
          = link_to 'contact.html' do
            %span
              Kontakt
