.rd-navbar-menu-wrap
  .rd-navbar-nav-wrap
    .rd-navbar-mobile-scroll
      .rd-navbar-mobile-brand
        = link_to 'index.html' do
          = image_tag 'logo-dark.png', width:'203', height:'70', class:'img-responsive', alt:''
      %ul.rd-navbar-nav
        %li.active
          = link_to 'index.html' do
            %span
              Home
        %li
          = link_to 'behavior_therapy.html' do
            %span
              Verhaltenstherapie
        %li
          = link_to 'costs.html' do
            %span
              Kosten
        %li
          = link_to 'about_me.html' do
            %span
              Über mich
        %li
          = link_to 'contact.html' do
            %span
              Kontakt