.page.text-center

  = partial "layouts/header", locals: {page: "about_me"}

  %main.page-content
    %section.section-98.section-sm-110
      .shell
        .range.range-xs-center
          .cell-sm-12
            .text-left
              %h3 Über mich
              %hr.divider-custom.text-java.hr-left-0.hr-sm-left-2

        .range.range-xs-center
          .cell-xs-10.cell-md-4
            .member-block-type-5.inset-md-right-20
              = image_tag 'kathrin_reiter2.jpg', width:'320', height: '358', class: 'mg-responsive center-block', alt:''
          .cell-xs-10.cell-md-8.text-md-left
            .text-left

              - # KATRHIN REITER
              %h6= t("about_me.section1.title")
              %hr.text-subline
              %p= t("about_me.section1.paragraph1")
              %p= t("about_me.section1.paragraph2")
              %p= t("about_me.section1.paragraph3")
              %p= t("about_me.section1.paragraph4")
              %p= t("about_me.section1.paragraph5")
              %p= t("about_me.section1.paragraph6")
              %p= t("about_me.section1.paragraph7")

              - # HOCHSCHULSTUDIUM UND AUSBILDUNG
              %h6.offset-top-66= t("about_me.section2.title")
              %hr.text-subline
              %span= t("about_me.section2.entry1.date")
              %p= t("about_me.section2.entry1.paragraph")

              - # WEITERBILDUNGEN UND SPEZIELLE QUALIFIKATIONEN
              %h6.offset-top-66= t("about_me.section3.title")
              %hr.text-subline
              %span= t("about_me.section3.entry1.date")
              %p= t("about_me.section3.entry1.paragraph")

              %span= t("about_me.section3.entry2.date")
              %p= t("about_me.section3.entry2.paragraph")

              %span= t("about_me.section3.entry3.date")
              %p= t("about_me.section3.entry3.paragraph")

              - # BERUFLICHE TÄTIGKEITEN
              %h6.offset-top-66= t("about_me.section4.title")
              %hr.text-subline
              %span= t("about_me.section4.entry1.date")
              %p= t("about_me.section4.entry1.paragraph")

              %span= t("about_me.section4.entry2.date")
              %p= t("about_me.section4.entry2.paragraph")

              %span= t("about_me.section4.entry3.date")
              %p= t("about_me.section4.entry3.paragraph")

              %span= t("about_me.section4.entry4.date")
              %p= t("about_me.section4.entry4.paragraph")

              %span= t("about_me.section4.entry5.date")
              %p= t("about_me.section4.entry5.paragraph")

              %span= t("about_me.section4.entry6.date")
              %p= t("about_me.section4.entry6.paragraph")

              - # BERUFLICHE TÄTIGKEITEN
              %h6.offset-top-66= t("about_me.section5.title")
              %hr.text-subline

              %span= t("about_me.section5.entry1.date")
              %p= t("about_me.section5.entry1.paragraph")
              %p= t("about_me.section5.entry1.paragraph2")

              - # MITGLIEDSCHAFTEN
              %h6.offset-top-66= t("about_me.section6.title")
              %hr.text-subline

              %p= t("about_me.section6.entry1")
              %p= t("about_me.section6.entry2")

    = partial 'layouts/footer', locals: {bg_color: "bg-lighter"}
