.page.text-center

  %header.page-head
    .rd-navbar-wrap
      %nav{"data-md-device-layout" => "rd-navbar-fixed", "data-lg-device-layout" => "rd-navbar-static", :class => "rd-navbar rd-navbar-minimal rd-navbar-light", "data-lg-auto-height" => "true", "data-md-layout" => "rd-navbar-static", "data-lg-layout" => "rd-navbar-static", "data-lg-stick-up" => "true"}
        .rd-navbar-inner

          .rd-navbar-top-panel
            %address{class: "contact-info reveal-sm-inline-block text-left offset-none"}
              %div{class: "p unit unit-spacing-xs unit-horizontal"}
                .unit-left
                  %span{class: "icon icon-xs icon-circle icon-gray-lighter mdi mdi-phone text-primary"}
                .unit-body
                  %a{href: "callto:+4915128760177", class: "text-gray-darker"}
                    +49 / (0)151 287 60 177
            %div{class: "rd-navbar-brand veil reveal-md-inline-block"}
              = link_to 'index.html' do
                = image_tag 'logo-dark.png', width:'203', height: '70', class: 'img-responsive', alt:''
            %address{class: "contact-info reveal-sm-inline-block text-left offset-top-10 offset-md-top-0"}
              %div{class: "p unit unit-horizontal unit-spacing-xs"}
                %div{class: "unit-left"}
                  %span{class: "icon icon-xs icon-circle icon-gray-lighter mdi mdi-map-marker text-primary"}
                %div{class: "unit-body"}
                  Senefelderstr. 16
                  %br
                  10437 Berlin

          .rd-navbar-panel
            %button{"data-rd-navbar-toggle" => ".rd-navbar, .rd-navbar-nav-wrap", class: "rd-navbar-toggle"}
              %span
            %div{class: "rd-navbar-brand veil-md"}
              = link_to 'index.html' do
                = image_tag 'logo-dark.png', width:'203', height: '70', class: 'img-responsive', alt:''
            %button{"data-rd-navbar-toggle" => ".rd-navbar, .rd-navbar-top-panel", class: "rd-navbar-top-panel-toggle"}
              %span

          = partial "layouts/nav_bar"

  %section{class:"breadcrumb-modern context-dark text-md-left"}
    %div{class: "shell section-34 section-md-top-110 section-md-bottom-41"}
      .text-md-left
        %h2
          WILLKOMMEN IN
          %br.veil.reveal-md-block
          MEINER PRAXIS FÜR
          %br.veil.reveal-md-block
          PSYCHOTHERAPIE
      .veil.reveal-md-block
        %h5 Beratung und Therapie von Kindern, Jugendlichen und jungen Erwachsenen
      = link_to 'Terminvereinbarung', 'contact.html', class: "btn btn-ellipse btn-primary offset-top-24"

  %main.page-content
    %section.section-98.section-sm-110
      .shell
        %h3 What makes us different
        %hr.text-java.divider-custom
        .range.offset-top-60
          .cell-md-4
            .unit.unit-sm.unit-sm-horizontal.unit-spacing-sm.text-sm-left
              .unit-left
                .unit-body
                  %h5.text-bold.text-bold.text-primary
                    Modern Equipment
                  %p
                    We use the latest medical equipment to deliver top-class cosmetic surgery services.
          .cell-md-4.offset-top-50.offset-md-top-0
            .unit.unit-sm.unit-sm-horizontal.unit-spacing-sm.text-sm-left
              .unit-left
                .unit-body
                  %h5.text-bold.text-bold.text-primary
                    Modern Equipment
                  %p
                    We use the latest medical equipment to deliver top-class cosmetic surgery services.
          .cell-md-4.offset-top-50.offset-md-top-0
            .unit.unit-sm.unit-sm-horizontal.unit-spacing-sm.text-sm-left
              .unit-left
                .unit-body
                  %h5.text-bold.text-bold.text-primary
                    Modern Equipment
                  %p
                    We use the latest medical equipment to deliver top-class cosmetic surgery services.

    %section.section-image-aside.section-image-aside-left.text-sm-left.bg-lighter
      .shell
        .range.range-xs-center.range-lg-right.offset-top-0
          .cell-xs-12.cell-lg-5
            .section-image-aside-body.section-50.section-md-85.section-md-bottom-110
              .range
                .cell-sm-6.cell-lg-12
                  %h6 Kontakt
                  %hr.text-subline
                  %ul.list-unstyled.contact-info.list
                    %li
                      .unit.unit-horizontal.unit-middle.unit-spacing-xs
                        .unit-left
                          %span.icon.mdi.mdi-phone.text-middle.icon-xxs.text-primary
                        .unit-body
                          = link_to '+49 / (0)151 287 60 177','callto:+4915128760177', class: 'text-gray-darker'
                    %li
                      .unit.unit-horizontal.unit-middle.unit-spacing-xs
                        .unit-left
                          %span.icon.mdi.mdi-map-marker.text-middle.icon-xxs.text-primary
                        .unit-body.text-left
                          Senefelderstr. 16
                          %br
                          10437 Berlin
                    %li
                      .unit.unit-horizontal.unit-middle.unit-spacing-xs
                        .unit-left
                          %span.icon.mdi.mdi-email-outline.text-middle.icon-xxs.text-primary
                        .unit-body
                          =link_to 'info@psychotherapie-reiter.de', 'mailto:info@psychotherapie-reiter.de', class: 'text-dark'
      .section-image-aside-map
        = partial "layouts/map"

    = partial 'layouts/footer'
