.page.text-center

  %header.page-head
    .rd-navbar-wrap
      %nav{"data-md-device-layout" => "rd-navbar-fixed", "data-lg-device-layout" => "rd-navbar-static", :class => "rd-navbar rd-navbar-minimal rd-navbar-light", "data-lg-auto-height" => "true", "data-md-layout" => "rd-navbar-static", "data-lg-layout" => "rd-navbar-static", "data-lg-stick-up" => "true"}
        .rd-navbar-inner

          .rd-navbar-top-panel
            %address{class: "contact-info reveal-sm-inline-block text-left offset-none"}
              %div{class: "p unit unit-spacing-xs unit-horizontal"}
                .unit-left
                  %span{class: "icon icon-xs icon-circle icon-gray-lighter mdi mdi-phone text-primary"}
                .unit-body
                  %a{href: "callto:+4915128760177", class: "text-gray-darker"}
                    +49 / (0)151 287 60 177
            %div{class: "rd-navbar-brand veil reveal-md-inline-block"}
              = link_to 'index.html' do
                = image_tag 'logo-dark.png', width:'203', height: '70', class: 'img-responsive', alt:''
            %address{class: "contact-info reveal-sm-inline-block text-left offset-top-10 offset-md-top-0"}
              %div{class: "p unit unit-horizontal unit-spacing-xs"}
                %div{class: "unit-left"}
                  %span{class: "icon icon-xs icon-circle icon-gray-lighter mdi mdi-map-marker text-primary"}
                %div{class: "unit-body"}
                  Senefelderstr. 16
                  %br
                  10437 Berlin

          .rd-navbar-panel
            %button{"data-rd-navbar-toggle" => ".rd-navbar, .rd-navbar-nav-wrap", class: "rd-navbar-toggle"}
              %span
            %div{class: "rd-navbar-brand veil-md"}
              = link_to 'index.html' do
                = image_tag 'logo-dark.png', width:'203', height: '70', class: 'img-responsive', alt:''
            %button{"data-rd-navbar-toggle" => ".rd-navbar, .rd-navbar-top-panel", class: "rd-navbar-top-panel-toggle"}
              %span

          = partial "layouts/nav_bar"

  %section{class:"breadcrumb-modern context-dark text-md-left"}
    %div{class: "shell section-34 section-md-top-110 section-md-bottom-41"}
      .text-md-left
        %h2
          WILLKOMMEN IN
          %br.veil.reveal-md-block
          MEINER PRAXIS FÜR
          %br.veil.reveal-md-block
          PSYCHOTHERAPIE
      .veil.reveal-md-block
        %h5 Beratung und Therapie von Kindern, Jugendlichen und jungen Erwachsenen
      = link_to 'Terminvereinbarung', 'contact.html', class: "btn btn-ellipse btn-primary offset-top-24"


